*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h2{
    color: aqua;
}
body{
    background-color: lightgrey;
}
.wrapper{
    width: 80vmin;
    padding: 50px 40px;
    background-color: black;
    position: absolute;
    transform: translate(-50%,-30%) ;
    top: 50%;
    left: 50%;
    border-radius: 5px;
    box-shadow: 20px 20px 40px rgba(97,63,0,0,4);
}
span{
    display: block;
    text-align: center;

}
h1{
    color:orange;
}
img {
    max-width: 80%;
    max-height: 100%;
}
button{
    display: block;
    background-color: orange;
    border: none;
    padding: 5px;
    color: black;   
}
#p-Id{
    color: aqua;
}
h3{
    color: orange;
}
input{
    background-color: beige;
    text-decoration-color: black;
}
p{
    color: black;
}
#data {
    width: 40%;
    height: 150px;
    padding: 10px;
    background-color: #d0e2bc;
  }